:root {
  --position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

#app {
  background-color: lightblue;
  width: 500px;
  height: 500px;
  @apply --position-center;
}